<nav class="navbar navbar-expand-sm navbar-dark bg-dark container">
  <a class="navbar-brand" href="#"><img src="../../assets/img/logo.png" height="34px" class="mr-2"/> WikiRate Supply Chain Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav navbar-nav ml-auto mr-4">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>
</nav>
