<div class="container pt-4 ">
  <div class="row">
    <div class="col-12">
      <h5>WikiRate is an <strong>open, collaborative tool</strong> for asking and answering questions about corporate impacts.</h5>
      <h3>Vision</h3>
      <p>A world where companies <em><strong>can</strong></em> and <em><strong>do</strong></em> respond to social and environmental challenges.</p>
      <h3>Theory of Change</h3>
      <p>Companies have a vital role to play in responding to the world’s most pressing issues, and we as a society can shape that role. As stakeholders – consumers, employees, investors, students, neighbors, advocates, and voters – we can guide companies to address environmental, social and governance (ESG) concerns.</p>
      <p>But we are missing some key tools. Information about corporate performance is simply not available in a form we can act upon. The feedback loop between companies and us, their stakeholders, is broken.</p>
      <p><a target="_blank" class="external-link" href="http://WikiRate.org">WikiRate.org</a> was developed to help fix this feedback loop by organizing open data about companies’ performance.&nbsp;</p>
        <p>By making sustainability data more usable, we make more meaningful engagement possible. WikiRate will empower stakeholders to hold companies accountable and help them provide ever better responses to the world’s problems.</p>

    </div>

  </div>
</div>