#map-company-container {
  position: relative;
}
agm-map {
  height: 500px;
}
#company-info-widget {
  position: absolute;
  left: 0;
  max-height: 500px;
  overflow-y: scroll;
  width: 275px;
  background: rgba(128, 128, 128, 0.9);
  z-index: 1;
}
#company-info-widget #company-overview li:hover {
  cursor: pointer;
  text-decoration: underline;
}
