<div class="container mt-4 pt-4 ">
  <div class="row mt-4 pt-4">
    <div class="col-12" id="map-company-container">
      <app-company></app-company>
      <agm-map [fitBounds]="true"
               [fullscreenControl]="true">

        <agm-marker
          *ngFor="let m of companies"
          [latitude]="m.lat"
          [longitude]="m.lon"
          iconUrl="/assets/icons/company.svg"
          [agmFitBounds]="true">
          <agm-info-window>
            <strong>{{m.company}}</strong><br/>
            <em>{{m.address}}</em>
          </agm-info-window>

          <agm-marker
            *ngFor="let s of m.suppliers"
            [latitude]="s.lat"
            [longitude]="s.lng"
            iconUrl="/assets/icons/supplier.png"
            [agmFitBounds]="true">
            <agm-info-window>
              <strong>{{s.label}}</strong>
            </agm-info-window>
            <agm-polyline>
              <agm-polyline-point [latitude]="s.lat" [longitude]="s.lng"></agm-polyline-point>
              <agm-polyline-point [latitude]="m.lat" [longitude]="m.lon"></agm-polyline-point>
            </agm-polyline>
          </agm-marker>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
