@map-height: 500px;

#map-company-container {
  position: relative;
}
agm-map {
  height: @map-height;
}

#company-info-widget {
  position: absolute;
  left: 0;
  height: auto;
  width: 250px;
  background: fade(grey, 90%);
  z-index: 1;
}

